<div class="menu menu-horizontal menu-fixed">
  <a href="/" class="menu-heading menu-link">hey.</a>
  <ul class="menu-list">
    <li class="menu-item"><a href="/bio" class="menu-link">bio</a></li>
    <li class="menu-item"><a href="/cv" class="menu-link">cv</a></li>
    <li class="menu-item"><a href="/portfolio" class="menu-link">portfolio</a></li>
    <li class="menu-item"><a href="/blog" class="menu-link">blog</a></li>
  </ul>
</div>
