<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{#title}}david rekow, yo{{/title}}</title>
  <link type="text/css" href="/css/lib/pure/base.min.css" rel="stylesheet" />
  <link type="text/css" href="/css/lib/pure/grid.min.css" rel="stylesheet" />
  <link type="text/css" href="/css/main.css" rel="stylesheet" />
  {{#css_head}}{{/css_head}}
  <script type="text/javascript" src="/js/app/init.js"></script>
  {{#js_head}}{{/js_head}}
</head>
<body class="pure">
  {{#layout}}
    default layout
  {{/layout}}
  <script type="text/javascript" src="/js/lib/t.js"></script>
  {{#js_body}}{{/js_body}}
  <script type="text/javascript">track('view');</script>
</body>
</html>
